.App {
    margin: 0 auto;
    text-align: center;
}
/*Chat area*/
.chat {
        
        display: flex;
        flex-direction: column;
     ;
        height: auto;
        max-height: 40vh;
        overflow: hidden;
        overflow-y: auto;
       
}
.altmsg {
    margin-bottom: 10px;
}
.input {
    font-size: 20px;
    width: 50%;
    padding: 10px;
    border:none;
    border-radius: 5px;
    outline: none;
}
.btn {
    border-radius: 28px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  41px 41px 81px #bebebe,
                 -41px -41px 81px #ffffff;
}
.low{
	color: orange;

    background-color: red;
}